---
import BaseLayout from "../layouts/BaseLayout.astro";
import CompanyHistory from "../components/CompanyHistory.astro";

const title = "About Us";
---

<BaseLayout title={title}>
    
    <main id="main">

        <CompanyHistory /> 
    
    </main>

</BaseLayout>