---
export async function getStaticPaths() {
  const allPosts = await Astro.glob("../pages/posts/*.md");

  const uniqueCategory = [
    ...new Set(allPosts.map((post) => post.frontmatter.category).flat()),
  ];

  console.log(uniqueCategory)
  return uniqueCategory.map((category) => {
    const filteredPosts = allPosts.filter((post) =>
      post.frontmatter.category.includes(category)
    );
    return {
      params: { category },
      props: { posts: filteredPosts },
    };
  });
}

const { category } = Astro.params;
const { posts } = Astro.props;
---

<!-- Categories sidebar in Blogs -->

<ul>
  {
    posts.map((post) => (
    
          <li>{post.frontmatter.category}</li>
        )
  )}  
</ul>    