---
import Navigation from "./Navigation.astro";
import HeaderLogo from "./HeaderLogo.astro";
import Social from "./Social.astro"
---

<!-- ======= Header ======= -->
<header id="header" class="header d-flex align-items-center fixed-top">
	<div class="container-fluid container-xl d-flex align-items-center justify-content-between">

	  <HeaderLogo />

	  <Navigation />

	  <Social />

	</div>

  </header>