---
import slider1 from '../images/Jhiri-Lake.jpg'; 
import slider2 from '../images/post-slide-1.jpg';
import slider3 from '../images/post-slide-2.jpg';
---

<!-- ======= Hero Slider Section ======= -->
<section class="carousel" aria-label="Gallery">
  <div class="gallery autoplay items-3">
    <div id="item-1" class="control-operator"></div>
    <div id="item-2" class="control-operator"></div>
    <div id="item-3" class="control-operator"></div>
  
    <figure class="item">
      <img src={slider1} alt="">
    </figure>
  
    <figure class="item">
      <img src={slider2} alt="">
    </figure>
  
    <figure class="item">
      <img src={slider3} alt="">
    </figure>
  
    <div class="controls">
      <a href="#item-1" class="control-button">•</a>
      <a href="#item-2" class="control-button">•</a>
      <a href="#item-3" class="control-button">•</a>
    </div>
  </div>
</section>