<!-- ======= Search Form ======= -->

<a href="#" class="mx-2 js-search-open"><span class="bi-search"></span></a>
<i class="bi bi-list mobile-nav-toggle"></i>

<div class="search-form-wrap js-search-form-wrap">
    <form action="search-result.html" class="search-form">
      <span class="icon bi-search"></span>
      <input type="text" placeholder="Search" class="form-control">
      <button class="btn js-search-close"><span class="bi-x"></span></button>
    </form>
</div>