---
import Search from "./Search.astro"
---

<div class="position-relative">
  <a href="#" class="mx-2"><span class="bi-facebook"></span></a>
  <a href="#" class="mx-2"><span class="bi-twitter"></span></a>
  <a href="#" class="mx-2"><span class="bi-instagram"></span></a>

  <Search />

</div>